body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/432/11/584/canada-toronto-cn-tower-best-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1{
    background: linear-gradient(to right, skyblue,lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    background: linear-gradient(to left, skyblue,lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}