h1{
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-right-style: dotted;
    border-left-width: 10px;
    border-right-width: 10px;
    border-left-color: silver;
    border-right-color: silver;
}


p{
    border-style: solid;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;
}
